@*AVO5*@

@model IEnumerable<WebAVO.Models.updateList>

@{
    ViewBag.Title = "AllData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/vendor/jquery/jquery.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="~/vendor/chart.js/Chart.js"></script>
<script src="~/js/sb-admin.min.js"></script>
<script src="~/js/sb-admin-datatables.min.js"></script>

<div class="content-wrapper">
    <div class="container-fluid">
        <form class="form-horizontal">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Номер рулона</th>
                                    <th>Длина</th>
                                    <th>Вес</th>
                                    <th>Ширина</th>
                                    <th>Толщина</th>
                                    <th>Начало обработки</th>
                                    <th>Статус обработки</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Номер рулона</th>
                                    <th>Длина</th>
                                    <th>Вес</th>
                                    <th>Ширина</th>
                                    <th>Толщина</th>
                                    <th>Начало обработки</th>
                                    <th>Статус обработки</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="width:20%" align="left"><a href="~/AVO5Details/Details/@item.NumberLocalRoll.Replace("/", "-")">@item.NumberRoll</td>
                                        <td style="width:10%" align="left">@item.LengthRoll</td>
                                        <td style="width:10%" align="left">@item.WeightRoll</td>
                                        <td style="width:10%" align="left">@item.WidthRoll</td>
                                        <td style="width:10%" align="left">@item.ThicknessRoll</td>
                                        <td style="width:15%" align="left">@item.DateCreate</td>
                                        <td style="width:25%" align="left">@item.Status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
